@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #292a31;
  background: #f5faf5;
  overflow-x: hidden;
}
::-webkit-scrollbar {
 width: 4px;
}

/* header */

ul.ant-menu.ant-menu-root.ant-menu-horizontal.ant-menu-light.css-dev-only-do-not-override-asz0wb {
  background-color: #f26d00 !important;
  
}

:where(.css-dev-only-do-not-override-asz0wb).ant-menu-submenu-popup .ant-menu-vertical .ant-menu-item {
  width: 100% !important;
  margin-block: 0px !important; 
  margin-inline: 0px !important; 
}

:where(.css-dev-only-do-not-override-asz0wb).ant-menu-submenu >.ant-menu .ant-menu-item {
  border-radius: 0px !important;
}

:where(.css-dev-only-do-not-override-asz0wb).ant-menu .ant-menu-submenu-title {
  border-radius:  0px !important;
}

:where(.css-dev-only-do-not-override-asz0wb).ant-menu-submenu-placement-bottomLeft {
  padding : 0px !important;
}

:where(.css-dev-only-do-not-override-asz0wb).ant-menu-submenu-popup .ant-menu-vertical .ant-menu-submenu-title {
  margin-block:  0px !important;
  margin-inline:  0px !important;
  width: 100% !important;
}

:where(.css-dev-only-do-not-override-asz0wb).ant-menu .ant-menu-submenu {
  border-radius: 0px !important;
}

:where(.css-dev-only-do-not-override-asz0wb).ant-menu-submenu-placement-rightTop {
  padding-inline-start : 4px;
}

.ant-menu-submenu-arrow {
  display: none !important;
}

ul.ant-menu.ant-menu-root.ant-menu-horizontal.ant-menu-light.bg-primary.css-dev-only-do-not-override-asz0wb {
  display: flex !important;
}

:where(.css-dev-only-do-not-override-asz0wb).ant-menu-submenu-popup .ant-menu-vertical.ant-menu-sub {
overflow: unset !important;
}
span.ant-menu-title-content {
  color: white !important;
}
:where(.css-dev-only-do-not-override-asz0wb).ant-menu-light.ant-menu-horizontal >.ant-menu-submenu-selected::after {
  color: transparent !important;
}
li.ant-menu-submenu.ant-menu-submenu-horizontal.bg-primary.w-auto.text-white.font-medium.text-md.order-5.ant-menu-submenu-selected::after {
  display: none !important;
}
/* end header */

::-webkit-scrollbar-track {
  background-color: white !important;
  border : 1px solid #ccc;
  border-radius: 5px;
  
}


::-webkit-scrollbar-thumb{
  background-color: #f26d00 !important;
  border-radius: 5px;
  min-height: 4px !important;

}
:where(.css-dev-only-do-not-override-asz0wb).ant-tabs >.ant-tabs-nav .ant-tabs-nav-wrap, :where(.css-dev-only-do-not-override-asz0wb).ant-tabs >div>.ant-tabs-nav .ant-tabs-nav-wrap {
  background-color: #292a31;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 12px;
}

.ant-tabs.ant-tabs-top.css-dev-only-do-not-override-asz0wb{
  background:  white;
  border-radius: 4px;
}

.ant-tabs-content.ant-tabs-content-top {
  padding: 8px 20px 16px 20px;
}



.ant-tabs-nav-wrap {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

:where(.css-dev-only-do-not-override-asz0wb).ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
  color : #47d155 !important;
}
:where(.css-dev-only-do-not-override-asz0wb).ant-tabs .ant-tabs-tab-btn {
  color : #9696a0 !important;
}
:where(.css-dev-only-do-not-override-asz0wb).ant-input-search >.ant-input-group >.ant-input-group-addon:last-child .ant-input-search-button {
  background-color: #c8372d;
}

.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid black;
  transition: 0.3s;
}



.select {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s;
}

.select:hover .caret {
  transform: rotate(180deg);
}

.select-clicked {
  border : 2px #26489a solid;
  box-shadow: 0 0 0.8em #26489a;
}

.menu {
  background: #ffeeee;
  border : 1px solid #ccc;
  position: absolute;
  top: 3em;
  left: 50%;
  width: 100%;
  transform : translateX(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
}

.menu li {
  padding: 0.7em 0.5em;
  cursor: pointer;
}

.select:hover .menu {
  display: block;
  opacity: 1;
}


.swiper-button-prev, .swiper-button-next {
  color: white !important;
  font-weight: bold !important;
}

.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 80px;
}

.swiper-pagination-bullet {
  width: 20px !important;
  border-radius: 0 !important;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active  {
  background-color: orange;
}
.ant-popover-inner {
  padding: 0 !important;
}
.ant-popover-arrow {
  display: none !important;
}

.swiper-button-prev:after, .swiper-button-next:after {
  font-size: 20px !important;
  font-weight: bold;
}

.rt-th.rt-resizable-header.-cursor-pointer {
  background-color: orange !important;
}


/* Footer */
:where(.css-dev-only-do-not-override-asz0wb).ant-card .ant-card-body {
  padding : 0;
}

.ant-list-items li:hover {
  color : #bae6bd !important;
}
/* end Footer */

ol {
  list-style: auto;
  padding-left:30px ;
}